
.orders-page {
  padding: 130px 40px 40px;
  background: #f5f5f5;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin-top: -55px;
}


.orders-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
}


.empty-orders {
  font-size: 18px;
  color: #777;
  text-align: center;
  margin-top: 60px;
}


.order-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.08);
  transition: 0.25s ease;
}

.order-card:hover {
  transform: translateY(-4px);
}


.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.order-date {
  font-size: 13px;
  color: #777;
}


.order-status {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 12px;
  font-weight: bold;
}


.placed {
  background: #ff9800;
  color: white;
}

.pending {
  background: #f44336;
  color: white;
}

.shipping {
  background: #2196f3;
  color: white;
}

.delivered {
  background: #4caf50;
  color: white;
}


.order-items {
  border-top: 1px solid #eee;
  padding-top: 15px;
}


.order-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}


.order-img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid #ddd;
}


.item-details {
  flex: 1;
}

.item-name {
  font-weight: 600;
  font-size: 15px;
  color: #222;
}

.item-qty {
  font-size: 13px;
  color: #666;
}


.item-price {
  font-weight: bold;
  font-size: 15px;
}


.order-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding-top: 12px;
  margin-top: 10px;
  font-weight: bold;
}



.gst-box {
  margin-top: 12px;
  background: #fafafa;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #eee;
}

.gst-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
}

.gst-total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  color: green;
}